@font-face {
    font-family: NotoSansTamilFont;
    src: url("font/NotoSansTamil.ttf");
}

html {
    font-family: NotoSansTamilFont;
}

body {
    background-color: #FFDDDD;
}

header #audio_switch {
    position: fixed;
    left: 8px;
    display: flex;
}

header #audio_switch img {
    width: 25%;
}

header #auto_play img {
    width: 4%;
    display: none;
}

img#muruga_img {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p#muruga_img_courtesy, p#repeat_note {
    font-size: 7pt;
}
.center {
    text-align: center;
}

.btn {
    font-size: 12pt;
    border-radius: 7px;
    padding: 10px;
}

#start {
    margin-bottom: 50px;
}

#start_recital {
    background-color: #04AA6D; /* Green */
    border-color: #012E1D;
    color: white;
}

.prev-btn, .next-btn {
    margin-bottom: 10px;
}

#prev_btn {
    height: 15.5%;
}

.next-btn, .prev-btn {
    background-color: #050368; /* Blue */
    border-color: #050368;
    color: #fff;
}

button:disabled, button[disabled] {
    background-color: #a7a7a7;
    border-color: #5e5e5e;
    color: #fff;
}

.vel-maaral-place {
    height: 15%;
}

h3.verse {
    line-height: 25pt;
}

h3.verse-1 {
    color: #380000;
}

h3.verse-2 {
    color: #050368;
}

h3.verse-3 {
    color: #000033;
}

h3.verse-4 {
    color: #003300;
}

h3.verse-5 {
    color: #660000;
}

h3.verse-6 {
    color: #333333;
}

h3.verse-7 {
    color: #480000;
}

h3.verse-8 {
    color: #333300;
}

h3.verse-9 {
    color: #030249;
}

h3.verse-10 {
    color: #034949;
}

h3.verse-11 {
    color: #02461e;
}

h3.verse-12 {
    color: #3b5002;
}

h3.verse-13 {
    color: #4e4303;
}

h3.verse-14 {
    color: #4e1a02;
}

h3.verse-15 {
    color: #29034d;
}

h3.verse-16 {
    color: #500213;
}

h3.rep-verse {
    color: #5e0359;
}

footer {
    position: fixed;
    height: 30px;
    left: 5px;
    bottom: 0px;
    right: 5px;
    background-color: #FFDDDD;
    padding-top: 5px;
}

footer #audio_courtesy {
    font-size: 8pt;
}

@media (max-width: 600px) {
    .btn {
        padding: 35px;
        font-size: 30pt;
    }
}