@font-face {
    font-family: NotoSansTamilFont;
    src: url("font/NotoSansTamil.ttf");
}

html {
    font-family: NotoSansTamilFont;
}

body {
    background-color: #FFDDDD;
}

header #audio_switch {
    position: fixed;
    left: 8px;
    display: flex;
}

header #audio_switch img {
    width: 25%;
}

img#muruga_img {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p#muruga_img_courtesy, p#repeat_note {
    font-size: 7pt;
}
.center {
    text-align: center;
}

.btn {
    font-size: 12pt;
    border-radius: 7px;
    padding: 10px;
}

#start_recital {
    background-color: #04AA6D; /* Green */
    border-color: #012E1D;
    color: white;
}

.next-btn {
    background-color: #050368; /* Blue */
    border-color: #050368;
    color: white;
}

h3.verse {
    line-height: 25pt;
}

.odd-verse h3.verse {
    color: #050368;
}

.even-verse h3.verse {
    color: #5e0359;
}

footer {
    position: fixed;
    height: 30px;
    left: 5px;
    bottom: 0px;
    right: 5px;
    background-color: #FFDDDD;
    padding-top: 5px;
}

footer #audio_courtesy {
    font-size: 8pt;
}

@media (max-width: 600px) {
    .btn {
        padding: 35px;
        font-size: 30pt;
    }
}